---
layout: default
title: Procurement Blog | Purchasing Toolpak Blog
description: A procurement blog about tools and templates for procurement managers and buyers to increase purchasing power. Purchase order, requisition, rfq, rfp, contract template for Excel and Word.
keywords: procurement, procurement templates, Excel, Word, purchase order, power purchasing, requisition, rfq, rfp
tagline: Free tools and templates for professional buyers. 
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.content contains site.excerpt_separator %}
        {{ post.excerpt }}
        <a href="{{ post.url }}">Read more</a>
    {% else %}
        {{ post.content }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

